@import "./MainVariables.scss";

.landing-page {
  width: 100%;

  //First Section
  .home-section {
    padding-top: 2%;
    background: linear-gradient(
      to bottom,
      #042b4a 0% 10%,
      $primary-color 80% 100%
    );

    header {
      width: 100%;
      .nav-bar {
        width: 40%;
        margin-left: 32%;
      }
      .nav-bar > * {
        text-decoration: none;
        text-align: center;
        color: white;
        margin: 0% 4%;
        font-size: 2.5vh;
      }
      .nav-bar > *:hover {
        text-decoration: underline;
      }
    }

    img {
      width: 20%;
      margin: 4% auto;
      display: block;
      animation: fadeIn 2s;
    }
    #web-name {
      color: white;
      font-weight: 700;
      font-size: 7vh;
      text-align: center;
      animation: fadeIn 2s;
    }
  }

  .features-section {
    padding: 5% 10%;
    width: 100%;
    background-color: $primary-color;

    .features {
      width: 33%;
      i {
        color: white;
        font-size: 10vh;
        margin-left: 40%;
      }
      .features-text {
        margin: 2% 0%;
        color: white;
        text-align: center;
        font-weight: 700;
      }
    }

    .features:hover {
      animation: zoomIn 0.5 ease-in forwards;
      transform-origin: center;
      cursor: pointer;
    }
  }

  .data-section {
    width: 80%;
    margin: 1% 10%;
    .table-titles {
      display: block;
      margin: 1% auto;
      width: fit-content;
      color: $primary-color;
      text-align: center;
      font-size: 3vh;
    }

    #title-one, #title-two{
      font-size: 2.5vh;
      padding-bottom:1.5% ;
    }
    .table-one {
      width: 100%;
      height: fit-content;
      display: block;
      margin: 0% auto;

      i {
        font-size: 3vh;
      }
      #green-arrow {
        color: green;
      }
      #red-arrow {
        color: rgb(204, 2, 2);
      }
    }

    .stats {
      position: relative;
      width: 100%;
      border: none;

      .current-gw-stats {
        background: linear-gradient(
          to bottom,
          $primary-color 0% 20%,
          #005f59 90% 100%
        );
        padding: 10%;
        border: 1px solid black;
        ul {
          width: 95%;
          margin: 0% auto;
        }
        li {
          list-style-type: none;
          font-size: 2.5vh;
          color: white;
        }
      }
      .kotw-table{
       margin-top:13% ;
      }

      .kotw {
        background: linear-gradient(
          to bottom,
          $primary-color 0% 20%,
          #005f59 90% 100%
        );

        padding: 4% 10%;
        border: 1px solid black;
        h3 {
          color: white;
          font-size: 4vh;
        }

        .player {
          width: 100%;
          h3 {
            text-align: center;
            justify-content: end;
          }

          #kotw-img {
            width: 85%;
          }
        }
        .points {
          width: 100%;

          h3 {
            text-align: center;
          }
          img {
            width: 60%;
            display: block;
            margin-left: auto;
            margin-right: auto;
          }
        }
      }
    }
  }
}

/*animation*/

@keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1.5);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* mobile */

@media screen and (max-width: 1024px) {
  header,
  #epl-logo,
  .second-section {
    display: none;
  }
}
