@import "./MainVariables.scss";

.landing-page {
  width: 100%;

  //First Section
  .home-section {
    padding-top: 2%;
    background: linear-gradient(
      to bottom,
      #042b4a 0% 10%,
      $primary-color 80% 100%
    );

    header {
      width: 100%;
      .nav-bar {
        width: 40%;
        margin-left: 32%;
      }
      .nav-bar > * {
        text-decoration: none;
        text-align: center;
        color: white;
        margin: 0% 4%;
        font-size: 2.5vh;
      }
      .nav-bar > *:hover {
        text-decoration: underline;
      }
    }

    img {
      width: 20%;
      margin: 4% 40% 0% 40%;
      animation: fadeIn 2s;
    }
    #web-name {
      color: white;
      font-weight: 700;
      text-align: center;
      animation: fadeIn 2s;
    }
  }

  .features-section {
    padding: 5% 10%;
    width: 100%;
    background-color: $primary-color;

    .features {
      width: 33%;
      i {
        color: white;
        font-size: 10vh;
        margin-left: 40%;
      }
      .features-text {
        margin: 2% 0%;
        color: white;
        text-align: center;
        font-weight: 700;
      }
    }

    .features:hover {
      animation: zoomIn 0.5 ease-in forwards;
      transform-origin: center;
      cursor: pointer;
    }
  }

  .data-section {
    width: 80%;
    margin: 1% 10%;
    .table-titles {
      margin: 1% 0%;
      color: $primary-color;
      text-align: center;
    }
    .transfers {
      width: 24%;
      i {
        font-size: 3vh;
      }
      #green-arrow {
        color: green;
      }
      #red-arrow {
        color: rgb(204, 2, 2);
      }
    }

    .stats {
      position: relative;
      width: 50%;
      margin: 0% 1%;

      .current-gw-stats {
        background: linear-gradient(
          to bottom,
          $primary-color 0% 20%,
          #005f59 90% 100%
        );
        padding: 4% 0%;
        border: 1px solid black;
        ul {
          width: 80%;
          margin-left: auto;
        }
        li {
          list-style-type: none;
          font-size: 3vh;
          color: white;
          padding: 2% 0%;
        }
      }
    }
  }
}

/*animation*/

@keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1.5);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
